@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
}

body {
  background-color: #272727;

  width: 100%;
  max-width: 854px;
  margin: 0 auto;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 854px;
  min-height: 100vh;
  margin: 0 auto;
}
